:root{
    --themecolor: #ffc300;
}
*{
    font-family: 'Segoe UI', Segoe;
}
body{
    margin:0;
}
header{
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    background-image:linear-gradient(rgba(0, 0, 0, 0.15),
                     rgba(0, 0, 0, 0.25)), url('../../images/Utah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    
}
header>div{
    background-color: white;
    grid-row: 1;
    height: 54px;
    grid-column: 1/9;
    display: flex;
    justify-content: space-between;
}
header>div>a>img{
    height: 50px;
    margin-top: auto;
    margin-left: 10%; 
}
/*BARRE DE MENUS*/
header>div>nav>ul>li{
    list-style-type: none;
    font-family:sans-serif;
    
 }
 header>div>nav>ul>li>a{
       text-decoration: none;
       font-size: 15px;
       color:black;
       margin-right: 20px
 }
 header>div>nav>ul{
     display: flex;
     justify-content:space-around;
     padding:0%;
 }
 header>div>nav{ 
     width: 65%;
     
     
 }
 header>div>nav>ul>li>a:hover{
     color: rgba(0,0,0,.9);
     text-decoration:underline;
     text-decoration-thickness: 2px;
 }
 #seConnecter>a>img{
     width: 30px;
     position:absolute;
     right: 10px;
     top:10px;
 }
 #seConnecter>a{
     height: 25px;
     padding-right: 40px;
 }
/*******************************************************/
header>h1{
    grid-row: 3;
    grid-column: 2/8;
    text-align: center;
    font-size: 75px;
    color:white;
}
header>h3{
    grid-row: 4;
    grid-column: 3/7;
    text-align: center;
    color:white;
}
.retour{
    position: relative;
    top:30px;
    left: 30px;
    border-radius: 6px;
    text-align: center;
    padding: 11px 40px;
    box-shadow: none;
    background:  var(--themecolor);
    color: #FFFFFF;
    font-weight: 700;
    border: 0;
    min-height: 42px;
    height: 25px;
    width: 200px;
}

.retour:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/* P */
main>p{
    text-align: center;
}
/*SECTION*/
section>div>div>button{
    padding: 11px 40px;
    font-weight: 700;
    background: var(--themecolor);
    color: #FFFFFF;
    border: 0;
    border-radius: 30px;
}
/*FORMULAIRE*/
#container{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr ; 
    grid-template-rows: repeat(13, 50px);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . . . . ."
    ". Explication Explication Explication Explication Explication ."
    ". . tableau tableau tableau . ."
    ". . tableau tableau tableau . ."
    ". . . . . . ."
    ". . Voiture Voiture Voiture . ."
    ". . ModeleVoiture ModeleVoiture ModeleVoiture . ."
    ". . . . . . ."
    ". Date Date . Jour Jour ."
    ". meeting-time meeting-time . NbJour NbJour ."
    ". . . . . . ."
    ". . Boutton Boutton Boutton . ."
    ". . . . . . .";
      
    font-weight: 700;
    text-align: center;
  }
  
  #Explication { 
    grid-area: Explication;  
  }
  
  #tableau{
    grid-area: tableau;
  }
  
  #Voiture{
    grid-area: Voiture;
   margin: auto;
  }
  
  #ModeleVoiture{
    grid-area: ModeleVoiture;
    border-color: var(--themecolor);
    border-style: inset;
    border-width: 2px;
    background-color: #FFFFFF;
  }
  
  #Date{
    grid-area: Date;
  }
  
  #meeting-time{
    grid-area: meeting-time;
    border-color: var(--themecolor);
  }
  
  #Jour{
    grid-area: Jour;
  }
  
  #NbJour{
    grid-area: NbJour;
    border-color: var(--themecolor);
    border-style: inset;
    border-width: 2px;
    background-color: #FFFFFF;
  }
    
  #Boutton{
    grid-area: Boutton;
  }

#Envoyer:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/*TABLEAU*/
table {
    border: medium solid #ffc300;
    border-collapse: collapse;
    text-align: center;
    }
  
    th{
      border: thin solid #ffc300;
      width: 20%;
      padding: 5px;
      background-color: rgba(255, 196, 0, 0.461);
      background-image: url(sky.jpg);
    }
    td {
      font-family: sans-serif;
      border: thin solid #ffc300;
      }
  
  caption {
    font-family: sans-serif;
   }
/*FOOTER*/

footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap
}
footer>li>a, footer>li {
    color: #616161;
    font-size:11px;
}
footer>li{
    list-style-type: none;
    margin:1% 0;
    
}
footer>li>a:hover{
    color: rgba(0,0,0,.9);
}
